/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2020, 7:50:03 PM
    Author     : cuongnm
*/
section{
    background-color: white;
    height: 100vh;
    transition: all .5s;
    margin-left: 250px;
    padding: 0px 10px;
}
section header{
    font-size: 30px;
    line-height: 70px;
    border-bottom: 3px solid orange;
    margin-left: 20px;
}
section .user{
    float: right;
}
section .show{
    margin-top: 20px;
}
table{
    margin-top: 20px;
}
.tox-notifications-container{
    display: none;
}
/*form input{
    height: 35px;
    width: 50%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    transition: all 0.3s ease; 
}
form textarea{
    height: 150px;
    width: 50%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    transition: all 0.3s ease; 
}*/
