/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 30, 2020, 7:46:09 PM
    Author     : cuongnm
*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
}
.slidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
}
.slidebar header{
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063246;
    user-select: none;
}
.slidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
}
.slidebar footer{
    color: white;
    text-align: center;
    margin-top: 244%;
}
ul li:hover a{
    padding-left: 50px;
}
.slidebar .checked{
    color: orange;
}

