/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2020, 9:01:25 AM
    Author     : cuongnm
*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
}
.slidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
}
.slidebar header{
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063246;
    user-select: none;
}
.slidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
}
.slidebar footer{
    color: white;
    text-align: center;
    margin-top: 244%;
}
ul li:hover a{
    padding-left: 50px;
}
.slidebar .checked{
    color: orange;
}
section{
  background: url(../image/sanhAlpha.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

/*login form*/
.content{
    display: grid;
    place-items: center;
    margin-left: 250px;
}
.content .hometitle{
    color: orange;
    font-size: 60px;
    font-weight: 900;
}
.wrapper{
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20pc rgba(0,0,0,0.1);
}
.wrapper .title{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
    border-radius: 5px 5px 0px 0px;
    color: orange;
}
.wrapper form{
    padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
} 

/*submit button*/
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:hover{
    color: orange;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}

/*signup*/
.contentUp{
    display: grid;
    place-items: center;
}

/*do survey*/
.container .card{
    margin-bottom: 15px;
    border-radius: 10px;
}
.card-input{
    width: 70%;
}
.card-body{
    border-radius: 1rem;
}
.card-body .form-control{
    width: 60%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
